<div id="welcome" class="">
	<center>

		<h1 class="fadeInDown animated animation-delay1">
		<span style="color: orange">Welcome, </span> <br>
		</h1>

		<img class="fadeInDown animated animation-delay3" ng-src="{{ picture }}">

		<h1 style="color: white" class="fadeInDown animated animation-delay5">
		<span>{{ user }}</span> 
		</h1>

		<h3 class="fadeInDown animated animation-delay9">
		<span style="color: orange">Login Success!</span>
		</h3>

	    <a ui-sref="home.whatisdis" class="btn btn-block btn-danger fadeInDown animated animation-delay10" style="width: 250px; height: 70px; margin-top: 20px">
	       <b style="font-size: 35px">What is this?</b>
	    </a>
	    <a ui-sref="census.instruction" class="btn btn-block btn-success fadeInDown animated animation-delay10" style="width: 250px; height: 70px; margin-top: 20px">
	       <b style="font-size: 35px">S T A R T</b>
	    </a>

	</center>
</div>
