<!-- begin #content -->
    <div id="content" class="content">
      <!-- begin page-header -->
      <h1 class="page-header bg-black" style="padding: 10px">Location: <span>{{locationText}}</span></h1>
      <!-- end page-header -->
      <!-- begin row -->

          <section class="work">

            <figure class="bg-black white">
              <a ui-sref="crime">
                <img src="assets/img/badge.png" alt="" />

                <dl>
                  <dt>Crime Statistics</dt>
                  <dd>Crime Statistics</dd>
                </dl>
              </a>
                <div id="wrapper-part-info" class="bg-black-darker">
                  <div id="part-info" style="color:white">
                    Crime
                  </div>
                </div>
            </figure>

            <figure class="bg-black white">
              <a ui-sref="population">
                <img src="assets/img/population.png" alt="" />

                <dl>
                  <dt>Population Statistics</dt>
                  <dd>Population Statistics</dd>
                </dl>
              </a>
              <div id="wrapper-part-info" class="bg-black-darker">
                <div id="part-info" style="color:white">Population</div>
              </div>
            </figure>

            <figure class="bg-black white">
              <a ui-sref="amenities">
                <img src="assets/img/amen.png" alt="" />

                <dl>
                  <dt>Amenities</dt>
                  <dd>Amenities nearby</dd>
                </dl>
              </a>
                <div id="wrapper-part-info" class="bg-black-darker">
                  <div id="part-info" style="color:white">Amenities</div>
              </div>
            </figure>

            <figure class="bg-black white">
              <a ui-sref="census">
                <img src="//www.myrealtystory.com/images/pages/cities/demographics.png" alt="" />

                <dl>
                  <dt>Demographic Census</dt>
                  <dd>Demographic Census</dd>
                </dl>
              </a>
                <div id="wrapper-part-info" class="bg-black-darker">
                  <div id="part-info" style="color:white">Demographic Census</div>
              </div>
            </figure>

          </section>

          <br><br>


          <div class="row">
            <div class="col-md-12">

              <div id="map" style="display: none"></div>

            </div>
          </div>

      
    </div>
    <!-- end #content -->