.down {
	margin-top: 50px;
}

.map-container{
	height: 500px;
}

#h2 {
	background: url(../../../assets/img/header.jpg) no-repeat center top;
	padding-top: 20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 1000px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidemenu {
	background-color: black;
	height: 500px;
}

.header-padding {
	background-color: blue;
	height: 110px;
}