<div id="finish" class="">
	<center>

		<h1 style="color: white" class="fadeInDown animated animation-delay1"><span style="color: orange">Demographic</span> <span>Census</span></h1>

		<br>

	    <img style="width: 70%; height: 70%" src="assets/img/icons-people.png" class="fadeInLeft animated animation-delay2">
	</center>
	    <h1 class="fadeInRight animated animation-delay3"><br>
	    <span style="color: orange">Thank You Very Much! </span>
	    </h1>
	    <h3 class="fadeInRight animated animation-delay5">
	    <span class="fontWhite"> 
		-Please Share our Application.
		</span> <br>
		</h3>
		<h3 class="fadeInRight animated animation-delay7">
	    <span class="fontWhite"> 
		-By clicking <span class="fontOrange" style="font-size: 30px"> "<b>S H A R E</b>" </span> below.
		</span>
		</h3><br>
		
		
	<center>
	    <a ng-click="share()" class="btn btn-block btn-social btn-facebook fadeInUp animated animation-delay9" style="width: 200px; height: 35px; margin-top: 10px">
	       <i class="fa fa-facebook"></i> S H A R E
	    </a>
	</center>
	
</div>
