<div id="login" class="">
	<center>

		<h1 style="color: white" class="fadeInDown animated animation-delay1"><span style="color: orange">Demographic</span> <span>Census</span></h1>

		<br>

	    <img style="width: 70%; height: 70%" src="assets/img/icons-people.png" class="fadeInLeft animated animation-delay2">
	</center>
	    <h1 class="fadeInRight animated animation-delay3"><br>
	    <span style="color: orange">What is this?: </span>
	    </h1>
	    <h3 class="fadeInRight animated animation-delay3">
	    <span class="fontWhite"> 
		 -This is a census of evaluation of a location by its demographic profile.
		</span> <br>
		</h3>
		<h3 class="fadeInRight animated animation-delay5">
	    <span class="fontWhite"> 
		 -After the end of the census, you will have the rights to see the demographics of your residence.
		</span>
		</h3><br>
		<div style="font-size: 25px" class="fadeInRight animated animation-delay7">
	    <span style="color: orange">Please take Note: </span> 
	    </div>
	    <div style="font-size: 15px" class="fadeInRight animated animation-delay8"
	    ><span class="fontWhite"> 
		 -We will not get your identity or whatsoever.
		</span>
		</div>
		<div style="font-size: 25px" class="fadeInRight animated animation-delay9">
	    <span style="color: white"> -Please <span style="color: orange">LOGIN</span> to Continue... </span> 
	    </div>
	    
		
		
	    
		
		
	<center>
	    <a id="loginBtn" ng-click="login()" class="btn btn-block btn-social btn-facebook fadeInUp animated animation-delay9" style="width: 200px; height: 35px; margin-top: 20px">
	       <i class="fa fa-facebook"></i> L O G I N
	    </a>
	    <a ng-click="share()" class="btn btn-block btn-social btn-facebook fadeInUp animated animation-delay10" style="width: 200px; height: 35px; margin-top: 10px">
	       <i class="fa fa-facebook"></i> S H A R E
	    </a>
	</center>
	
</div>
