<div id="instruction" class="">
	
		<center>

		<img src="//cdn2.iconfinder.com/data/icons/mandatory-safety-signs/574/ISO_7010_M002-512.png" class="fadeInDown animated animation-delay1" style="height: 200px;width: 200px;">

		</center>

	    <h1 class="fadeInRight animated animation-delay3">
	    <span class="fontOrange"> 
		Instruction
		</span> <br>
		</h1>
	    <h3 class="fadeInRight animated animation-delay3">
	    <span class="fontWhite"> 
		-On the next page you will have to specify the baranggay of your residence.
		</span> <br>
		</h3>
		<h3 class="fadeInRight animated animation-delay5">
	    <span class="fontWhite"> 
		-After that, please answer the questions that will be provided.
		</span> <br>
		</h3>
		<h3 class="fadeInUp animated animation-delay7">
		<span class="fontWhite"> 
		-you now may can view the demographic profile of the chosen baranggay.
		</span> <br>
		</h3>

	<center>

	    <a ui-sref="census.residence" class="btn btn-block btn-danger fadeInUp animated animation-delay9" style="width: 200px; height: 35px; margin-top: 20px">
	       <b>S T A R T &nbsp   C E N S U S</b>
	    </a>

	</center>
</div>
