<div id="welcome" class="">
	<center>

		<h1 class="fadeInDown animated animation-delay1">
		<span style="color: orange">Thank You Very Much,<br>We deeply appreciate your effort.</span> <br>
		</h1>

		<img class="fadeInDown animated animation-delay3" ng-src="{{ picture }}">

		<h1 style="color: white" class="fadeInDown animated animation-delay5">
		<span>{{ user }}</span> 
		</h1>

	</center>

		<h1 class="fadeInRight animated animation-delay3"><br>
	    <span style="color: orange">If you have more time?: </span>
	    </h1>
	    <h3 class="fadeInRight animated animation-delay3">
	    <span class="fontWhite"> 
		 -Please take consideration of <b class="fontOrange">SHARING</b> this application.
		</span> <br>
		</h3>
		<h3 class="fadeInRight animated animation-delay5">
	    <span class="fontWhite"> 
		 -Thank you for your kindness.
		</span>
		</h3><br>
		<div style="font-size: 25px" class="fadeInRight animated animation-delay7">
	    <span style="color: orange">Please take Note: </span> 
	    </div>
	    <div style="font-size: 15px" class="fadeInRight animated animation-delay8"
	    ><span class="fontWhite"> 
		 -We did not get your identity or whatsoever.
		</span>
		</div>

	<center>

		<a ng-click="share()" class="btn btn-block btn-social btn-facebook fadeInUp animated animation-delay10" style="width: 200px; height: 35px; margin-top: 10px">
	       <i class="fa fa-facebook"></i> S H A R E
	    </a>
	    <a id="loginBtn" class="btn btn-block btn-social btn-facebook fadeInUp animated animation-delay9" style="width: 200px; height: 35px; margin-top: 20px">
	       <i class="fa fa-facebook"></i> L I K E
	    </a>

	</center>
</div>
