<div id="content" class="content">

	<div class="censusHolder">
		<div class="banner fadeInDown animated animation-delay1" style="background-color: #1a2229">
			<h1 class="fadeInDown animated animation-delay2"><span class="fontOrange">Psychographic Profile of residence</span> in your Business Location</h1>
		</div>

	    <ul class="nav nav-tabs" style="background-color: #1a2229">
	        <li ng-repeat="tab in tabs" ng-class="{active: activeMenu === tab.name}">
		        	<a href="" ng-click="setActive(tab)" style="text-align: center; margin: 0" class="fadeInRight animated animation-delay{{ tab.id }}">
			        	<img ng-src="{{ tab.png }}" style="width: 20px; height: 20px">
			        	<br>
			        	<span style="font-size: 20px"> {{tab.name}} </span>
		        	</a>
	        </li>
	    </ul>

		<div class="demoHolder" ui-view></div>
	</div>
</div>